/* CSS Document */



.photo {
	float: left;
	width: 560px;
	margin-left: 15px;
}
.quote {
	float: right;
	width: 250px;
	margin-right: 15px;
	background-image: url(../images/gradient_quote.jpg);
	background-repeat: no-repeat;
	height: 263px;
}

.text {
	float: left;
	width: 550px;
	margin-left: 15px;
	margin-top: 20px;
}

.testimonial {
	float: right;
	width: 250px;
	margin-right: 20px;
	margin-top: 20px;
}